*{
    font-family: 'Montserrat', sans-serif;
}

.visible{
    display:inline-block;
}

.oculto{
    display:none;
}

.error-validacion {
    color: red;
    display: inline-block;
}


#formulario .linea_formulario{
    margin:15px;
    width:700px;
}

#formulario .linea_formulario label{
    float:left;
    width:15%;
}



#formulario .linea_formulario input[type="text"],
#formulario .linea_formulario input[type="password"],
#formulario .linea_formulario input[type="submit"],
#formulario .linea_formulario select,
#formulario .linea_formulario textarea
{
    float:left;
    width:40%;
    padding:2px;
    margin-right: 15px;

}

.paises {
    border: 1px solid black;
    padding: 5px;
}

#formulario .botones {
    width:200px;
    display: block;
    margin: auto;
}

#formulario select{
    border:2px solid grey;
    outline:0px;
    background-color:#F2F2F2;
}

#formulario #comentario{
    height:100px;
    resize:none;
}


.obligatorio{
    width:14px;
    height:14px;
    background-image: url("img/obligatorio.png");
    background-repeat:none;
    float:left;
    margin-left:10px;
    margin-top:2px;
}

.limpia{
    clear:both;
}


.error{
    clear:both;

    padding-left:20px;
    background-repeat:no-repeat;
    background-position: 5px center;
    color:#d70000;
    padding:5px;
    padding-left:25px;
    border: 5px solid #d70000;
    background-color:rgba(200,0,0,0.2);
    border-radius:2px;
    margin:15px;




}


#edad{
    padding-left:5px;
}
.acierto{
    padding-left:20px;
    background-repeat:no-repeat;
    background-position: 5px center;
    color:#00793d;
    padding:5px;
    padding-left:25px;
    border: 5px solid #00793d;
    background-color:rgba(200,150,200,0.2);
    border-radius:2px;
    margin:15px;
}

.info{
    padding-left:20px;
    background-repeat:no-repeat;
    background-position: 5px center;
    color:#5e85c4;
    padding:5px;
    padding-left:25px;
    border: 5px solid #5e85c4;
    background-color:#d5dce8;
    border-radius:2px;
    margin:15px;
}


#fallo{
    color:red;
}

.genero{
    padding:10px;
    border:2px solid black;
}

#container {
    display: flex;
}

.info-formulario {
    display: inline-block;
}
