

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <!-- Ejemplo de producto en cesta de la compra
      <ion-col *ngFor="let producto of productosCesta" size="6">
        <ion-card class="lista ion-text-center">
          <ion-fab vertical="top" horizontal="end">
            <ion-fab-button  color="danger"><ion-icon name="remove-outline"></ion-icon></ion-fab-button> 
          </ion-fab>           
            <ion-img> </ion-img>
            <ion-card-header>
                <ion-card-title> Producto </ion-card-title>
            </ion-card-header>
          
        </ion-card>
      </ion-col>
    -->
    </ion-row>
  </ion-grid>

</ion-content>
