
*{
	font-family: 'Montserrat', sans-serif;
}

#formulario .linea_formulario{
	margin: 2em;
	width:30%;
	display:flex;

}

#formulario .linea_formulario label{
	flex-basis:30%;
}

#formulario .linea_formulario input[type="text"]
{
	flex-basis:70%;
	padding:0.5em;
}

#formulario .linea_formulario input[type="button"]
{
	margin-right:1em;
}




.error{
	clear:both;

	padding-left:2em;
	background-repeat:no-repeat;
	background-position: 5px center;
	color:#d70000;
	padding:.5em;
	padding-left:e2m;
	border: 5px solid #d70000;
	background-color:rgba(200,0,0,0.2);
	border-radius:.2em;
	margin:1em;
	}

.intentos{
	padding-left:2em;
	background-repeat:no-repeat;
	background-position: 5px center;
	color:#00793d;
	padding:1em;
	padding-left:2em;
	border: 5px solid #00793d;
	background-color:rgba(200,150,200,0.2);
	border-radius:.2em;
	margin:1em;
}

.info{
	padding-left:2em;
	background-repeat:no-repeat;
	background-position: 5px center;
	color:#5e85c4;
	padding:1em;
	padding-left:2em;
	border: 5px solid #5e85c4;
	background-color:#d5dce8;
	border-radius:.2em;
	margin:1em;
}


#fallo{
	color:red;
}

.nletras{
	padding:1em;
	border:2px solid black;
}

.genero{
	padding:10px;
	border:2px solid black;
}