<ion-app *ngIf="load">

  <!-- Menú de la aplicación, solo debería mostrarse si estamos logueados -->
  <ion-menu slot="end" menuId="menu" contentId="contenido">
    <ion-list>
      <ion-menu-toggle> 
        <ion-item>
          <ion-label>Menu</ion-label>
          <ion-icon name="fast-food-outline"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Logout</ion-label>
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Mi cesta</ion-label>
          <ion-icon name="basket-outline"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-menu>

  <!-- Cabecera de la aplicación -->
  <ion-header class="cabecera" [translucent]="true">
    <ion-toolbar>
        <ion-title class="ion-text-center"> 
          <ion-img class="logo" src="assets/img/logo_app.jpg"> </ion-img>
        </ion-title>
        <!-- Añadir botón para mostrar el menú, solo debería mostrarse si estamos logueados -->
    </ion-toolbar>
  </ion-header>


  <ion-router-outlet id="contenido"></ion-router-outlet>

  <!-- Pie de la aplicación -->
  <ion-footer>
    <ion-toolbar>
      <ion-title class="ion-text-center">
         {{'label.app' | translate}} 
      </ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-app>
