
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <!-- Ejemplo de producto. El botón solo se muestra si hemos iniciado sesión
      <ion-col  size="6">
        <ion-card class="lista ion-text-center">
          
          <ion-fab vertical="top" horizontal="end">
            <ion-fab-button  color="warning"><ion-icon name="add-outline"></ion-icon></ion-fab-button> 
          </ion-fab>           
            <ion-img> </ion-img>
            <ion-card-header>
                <ion-card-title> </ion-card-title>
            </ion-card-header>
        </ion-card>
      </ion-col>
    -->
    </ion-row>
  </ion-grid>
</ion-content>
